/* CDN Fonts */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.min.css');
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');

/* Font Faces */
@font-face {
  font-family: 'YeongjuSeonbi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'YeongjuSeonbi', sans-serif;
  --font-ko-sub: 'Pretendard', sans-serif;
  --font-en-main: 'Chonburi', serif;
  --color-primary: #F9F8F6;
  --color-secondary: #373737;
}